@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background-color: var(--body-background);
    color: var(--font-color);
    font-family: 'Geologica';
    display: flex;
    flex-direction: row;
}

#nav-menu{
    width: 30%;
    height: 100%;
    background-color: var(--menu-background-color);
    display: flex;
    flex-direction: column;
    position: sticky;
}

#page-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-infos img {
    margin: 40px 20px 0px 20px;
}

#navigation {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    justify-content: center;
}

#navigation form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#input-theme{
    width: 8%;
    background-image: var(--icon-theme);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00000000;
    filter: var(--icon-filter);
    height: 100%;
    border: none;
    color: var(--font-color);
}

#input-submit{
    width: 10%;
    padding: 4px 4px;
    border-radius: 0px 2px 2px 0px;
    background-color: #00000000;
    filter: var(--icon-filter);
    background-color:rgba(87, 85, 93, 0.362);
    border: none;
    color: var(--font-color);
}

#input-bar{
    width: 80%;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    border: none;
    margin-left: 10px;
    color: var(--font-color);
    padding: 0px 5px;
    font-family: inherit;
    font-size: 14px;
    background-color: rgba(119, 117, 129, 0.362);
}

#doc-content{
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

.module-display{
    display: block;
    margin: 50px 10%;
}

#module-desc{
    margin-bottom: 50px;
}

#module-title{
    padding: 20px 0px;
    border-bottom: var(--module-title-color) 1px solid;
}

#modules{
    height: 100%;
    overflow-y: scroll;
    background-color: var(--menu-module-list-color);
}

.module-members{
    line-height: 130%;
}

.module-members h3{
    padding: 15px 0px;
    border-bottom: var(--module-member-title-color) 1px solid;
}

#modules > ul > li{
    font-weight: bold;
    letter-spacing: 2px;
}

#modules > ul > li > ul > li{
    font-weight: normal;
    letter-spacing: 0px;
}

ul > li{
    list-style-type: circle;
    margin: 10px 0px;
    font-size: 17px;
}

.module-members ul li code a{
    text-decoration: none;
    color: var(--font-color);
    animation-duration: 200ms;
}

ul > li > code > a:hover{
    font-weight: bolder;
}

ul > li > ul > li{
    list-style-type: square;
    font-size: 15px;
}

.module-documentation{
    margin: 50px 0px;
    padding: 20px;
    background-color: var(--f-documentation-color);
    border-radius: 10px;
    box-shadow: var(--f-documentation-box-shadow);
}

.module-documentation code{
    background-color: var(--non-code-member-color);
    border-radius: 5px;
    padding: 1px 3px;
    font-size: 14px;
}

.f-documentation{
    margin: 2em 0em;
    background-color: var(--f-documentation-color);
    border-radius: 10px;
    box-shadow: var(--f-documentation-box-shadow);
    border: 1px solid var(--f-documentation-border-color);
}

.f-desc{
    font-size: 14px;
    line-height: 140%;
}

.f-desc .code-sample{
    background-color: var(--code-sample-background-color);
}

.f-desc code:not(.code-sample){
    background-color: var(--non-code-member-color);
    border-radius: 2px;
    padding: 1px 3px;
}

.f-description{
    padding: 10px 20px;
}

.f-doctype{
    font-size: 15px;
    padding: 1px 3px;
    border-radius: 4px;
    /* background-color: var(--non-code-member-color); */
}

.f-title-container{
    padding: 15px 20px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid var(--f-documentation-border-color);
}

.f-tags{
    margin-top: 10px;
}

.f-tags kbd{
    margin: 0px 2px;
}

.f-short-documentation {
    letter-spacing: 1px;
}

.f-title-container code{
    font-size: 20px;
    letter-spacing: 2px;
    background-color: var(--code-member-color);
}

kbd {
    background-color: var(--kbd-background);
    border-radius: 14px;
    border: 1px solid var(--kbd-border);
    display: inline-block;
    font-size: 0.85em;
    line-height: 1;
    font-weight: bold;
    padding: 3px 8px;
    white-space: nowrap;
    font-size: 20px;
    color: var(--kbd-font-color);
}

.deprecated, .new-feature, .updated{
    padding: 5px 10px;
    background-color: var(--notice-background-color);
    width: fit-content;
    border-radius: 5px;
    margin: 5px 0px;
    box-shadow: 0px 0px 5px #000000;
    font-weight: 700;
    font-size: 14px;
}

.deprecated{
    border-left: 5px solid var(--deprecated-border-color);
    color: var(--deprecated-border-color);
}

.new-feature{
    border-left: 5px solid var(--new-border-color);
    color: var(--new-border-color);
}

.updated{
    border-left: 5px solid var(--updated-border-color);
    color: var(--updated-border-color);
}