:root{

    --body-background: #aaeebb;
    --font-color: #000000;
    --module-title-color: rgb(81, 99, 81);
    --module-member-title-color: rgb(145, 120, 55);
    --f-title-container-background: #aaeebb;
    --code-member-color:#00000000;
    --non-code-member-color: #eeffcc;
    --f-documentation-color: #b3f0c2;
    --f-documentation-box-shadow: 0px 0px 30px #88be96;
    --kbd-background: #b3ec95;
    --kbd-border: #b3ec95;
    --kbd-font-color: #59943a;
}